$font-xx-small: 0.5rem;
$font-x-small: 0.625rem;
$font-small: 0.81rem;
$font-medium: 1rem;
$font-large: 1.125rem;
$font-x-large: 1.5rem;
$font-xx-large: 2rem;

$icon-xx-small: 0.5rem;
$icon-x-small: 0.625rem;
$icon-small: 0.81rem;
$icon-medium: 1rem;
$icon-large: 1.125rem;
$icon-x-large: 1.5rem;
$icon-xx-large: 2.5rem;

$transition-time-very-fast: 0.1s;
$transition-time-fast: 0.25s;
$transition-time-medium: 0.5s;
$transition-time-slow: 1s;
$transition-time-very-slow: 1.5s;

$border-radius-container: 10px;
$border-radiues-button: 5px;

$color-blue: rgb(0, 45, 122);
$color-hover-blue: rgba(0, 45, 122, 0.15);